header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(178.7deg, #E4ECFF 1.11%, rgba(234, 240, 255, 0) 103.22%);
    height: 880px;
}

nav {
    height: 59px;
    display: flex;
    border-bottom: 1px solid #8480AE29;
    width: 100%;
}

nav .menu {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 24px;
    width: 100%;
    padding: 17px 17px 17px 17px;
}

.present-image-box {
    position: relative;
    width: 330px;
    height: 300px;
}

.main-image {
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translate(-50%);
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 194.69px;
    height: 201px;
    border-radius: 30px;
    opacity: 0px;
    background: #B9CCFE;
}

.rating-image {
    position: absolute;
    width: 66px;
    height: 32px;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

.rating-text {
    font-family: Poppins;
    font-size: 7px;
    font-weight: 600;
    line-height: 5.11px;
    text-align: left;
    padding: 10px 0px 0px 8px;
}

.rating-star {
    padding: 5px 0px 0px 8px;
}

.rating-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}

.notification-image-box {
    position: absolute;
    width: 127px;
    height: 45px;
    border-radius: 15px;
    bottom: 0px;
    left: 0px;
    transform: translate(-50%, 50%);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.notification-icon {
    padding: 8px;
}

.notification-title {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    text-align: left;
    color: #858A8F;
}

.notification-text {
    font-family: Inter, sans-serif;
    font-size: 8px;
    font-weight: 600;
    line-height: 9.5px;
    color: #333333;
    display: flex;
    flex-direction: column;

}

.notification {
    display: flex;
    flex-direction: column;
    padding: 9px 0px 0px 0px;
    gap: 1px;
    
}

.message-image {
    position: absolute;
    right: 0px;
    bottom: 30px;
    transform: translate(50%);
    width: 128px;
    height: 42px;
    gap: 0px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.message-title {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #535783;
    padding: 12px 0px 0px 0px;
}

.message-time {
    font-family: Inter, sans-serif;
    font-size: 8px;
    font-weight: 600;
    color: #8589AE;

}

.message-icon {
    padding: 5px 0px 0px 8px;
}

.new-message-icon {
    padding: 12px 0px 0px 0px;
}

.welcome-text {
    width: 192px;
    height: 40px;
    border-radius: 10px;
    background-color: #F8FAFF;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #293FCC;
    margin: 25px;
}

.promo-title {
    width: 317px;
    height: 153px;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #090F4E;
    justify-content: center;
}

.promo-description {
    width: 343px;
    height: 89px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #63657E;
}

.cta-button {
    width: 223px;
    height: 60px;
    border-radius: 6px;
    background-color: #293FCC;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.cta-button:hover {
    background-color: #0056b3;
}

.demo-link {
    width: 110px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.link-demo-text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0B0757;
}